.sidebar {
  position: relative;
}

.sidebar nav {
  position: sticky;
  top: 10px;
}

.zc-example {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 0.2rem;
  margin-top: 1rem;
  border: solid #f8f9fa;
}

.zc-example .zc-highlight {
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.15);
  margin-bottom: 0;
  padding: 0;
}

.zc-example-container {
  min-width: 16rem;
  max-width: 25rem;
  margin-right: auto;
  margin-left: auto;
}

.zc-example-container-fluid {
  max-width: none;
}

.zc-example-container-header {
  height: 3rem;
  margin-bottom: .5rem;
  background-color: #fff;
  border-radius: .25rem;
}

.zc-example-container-sidebar {
  float: right;
  width: 4rem;
  height: 8rem;
  background-color: #80bdff;
  border-radius: .25rem;
}

.zc-example-container-body {
  height: 8rem;
  margin-right: 4.5rem;
  background-color: #957bbe;
  border-radius: .25rem;
}

.zc-example-border-utils [class^=border] {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: .25rem;
  background-color: #f5f5f5;
}

.zc-example-border-utils-0 [class^=border] {
  border: 1px solid;
}

.zc-highlight {
  background-color: #f8f9fa;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.zc-highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  display: block;
  color: #212529;
  overflow: auto;
}

.zc-highlight pre code {
  font-size: inherit;
  color: #212529;
}

.zc-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.zc-callout-warning {
  border-left-color: #f0ad4e;
}

.zc-example-row .row > .col,
.zc-example-row .row > [class^="col-"] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}

/*Syntax*/

.hll {
  background-color: #ffc;
}
.c {
  color: #999;
}
.k {
  color: #069;
}
.o {
  color: #555;
}
.cm {
  color: #999;
}
.cp {
  color: #099;
}
.c1 {
  color: #999;
}
.cs {
  color: #999;
}
.gd {
  background-color: #fcc;
  border: 1px solid #c00;
}
.ge {
  font-style: italic;
}
.gr {
  color: #f00;
}
.gh {
  color: #030;
}
.gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}
.go {
  color: #aaa;
}
.gp {
  color: #009;
}
.gu {
  color: #030;
}
.gt {
  color: #9c6;
}
.kc {
  color: #069;
}
.kd {
  color: #069;
}
.kn {
  color: #069;
}
.kp {
  color: #069;
}
.kr {
  color: #069;
}
.kt {
  color: #078;
}
.m {
  color: #f60;
}
.s {
  color: #d44950;
}
.na {
  color: #4f9fcf;
}
.nb {
  color: #366;
}
.nc {
  color: #0a8;
}
.no {
  color: #360;
}
.nd {
  color: #99f;
}
.ni {
  color: #999;
}
.ne {
  color: #c00;
}
.nf {
  color: #c0f;
}
.nl {
  color: #99f;
}
.nn {
  color: #0cf;
}
.nt {
  color: #2f6f9f;
}
.nv {
  color: #033;
}
.ow {
  color: #000;
}
.w {
  color: #bbb;
}
.mf {
  color: #f60;
}
.mh {
  color: #f60;
}
.mi {
  color: #f60;
}
.mo {
  color: #f60;
}
.sb {
  color: #c30;
}
.sc {
  color: #c30;
}
.sd {
  font-style: italic;
  color: #c30;
}
.s2 {
  color: #c30;
}
.se {
  color: #c30;
}
.sh {
  color: #c30;
}
.si {
  color: #a00;
}
.sx {
  color: #c30;
}
.sr {
  color: #3aa;
}
.s1 {
  color: #c30;
}
.ss {
  color: #fc3;
}
.bp {
  color: #366;
}
.vc {
  color: #033;
}
.vg {
  color: #033;
}
.vi {
  color: #033;
}
.il {
  color: #f60;
}

.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}

.language-bash::before,
.language-sh::before {
  color: #009;
  content: "$ ";
  user-select: none;
}

.language-powershell::before {
  color: #009;
  content: "PM> ";
  user-select: none;
}
